development:
  adapter: async

test:
  adapter: async

production:
  adapter: redis
  url: redis://redistogo:26c1ce65e44bb274130f27cc06b7a30c@hammerjaw.redistogo.com:10629/
  channel_prefix: joeyee_production
